* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url(Demo_Shop/patt.png);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  margin: 0 -15px;
}
[class*="col-"] {
  padding: 0 15px;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  align-items: center;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
}
.menu .flex-menu {
  width: 25%;
  border-left: 1px solid #2c71b8;
}
.menu:last-child {
  border-right: 1px solid #2c71b8;
}
.menu .menu-a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #2c71b8;
  font-weight: 300;
  text-decoration: none;
}
.menu .menu-a:hover {
  background-color: #2c71b8;
  color: white;
}
.flex {
  width: 200px;
  height: 40px;
  border: 1px solid #2c71b8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
}
.header-search {
  width: 150px;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}
.header-button {
  width: 30px;
  height: 30px;
  background-color: #2c71b8;
  outline: none;
  border: none;
}
::placeholder {
  color: #2c71b8;
}
.cart-button {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  background-color: white;
  border: none;
  outline: none;
}
.numbers-cart {
  background-color: #2c71b8;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  position: absolute;
  margin-top: -40px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.dropdown-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  background-color: #2c71b8;
  left: -1px;
  width: 286px;
  height: 315px;
  padding: 30px 0;
}
.relative {
  position: relative;
}
.sub-menu-item {
  width: 100%;
  padding: 10px 40px;
}
.sub-menu-item a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.dropdown-header {
  visibility: hidden;
}
.flex-menu:hover .dropdown-header {
  visibility: visible;
}
.flex-menu:hover a {
  background-color: #2c71b8;
  color: white;
}
.sub-menu-item:hover {
  background-color: white;
}
.sub-menu-item:hover a {
  background-color: white;
  color: #2c71b8;
}
.dropdown-header {
  visibility: hidden;
}
.flex-menu:hover .dropdown-header {
  visibility: visible;
}
